[Unit]
Description=Enable Mako do-not-disturb

[Service]
Type=oneshot
ExecStart=/usr/bin/makoctl mode -a do-not-disturb
ExecStartPost=notify-send "dnd enabled" "club time started"
