include "input.kdl"
include "output.kdl"
include "overview.kdl"
include "animations.kdl"
include "binds.kdl"
include "windowrules.kdl"
include "startup.kdl"
include "recentwindows.kdl"

environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 5
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
    }
    default-column-width { proportion 0.33333; }
    focus-ring {
        off
    }
    border {
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
        active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    tab-indicator {
	hide-when-single-tab
	width 4
	gap 8
	length total-proportion=1.0
	position "top"
	place-within-column
    }
    shadow {
        on
        draw-behind-window false
        softness 3
        spread 1
        offset x=3 y=3
        color "#0007"
    }
    struts {
        left 24
        right 24
        //top -4
        // bottom 64
    }
}

prefer-no-csd
screenshot-path "~/dcim/pictures/screenshots/screenshot from %Y-%m-%d %H-%M-%S.png"
