include "input.kdl"
include "workspaces.kdl"
include "overview.kdl"
include "animations.kdl"
include "binds.kdl"
include "windowrules.kdl"
include "startup.kdl"
include "recentwindows.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/outputs.kdl"

environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 2
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66666
    }
    default-column-width { proportion 0.33333; }
    focus-ring {
        off
    }
    border {
        width 2
    }
    tab-indicator {
	hide-when-single-tab
	width 4
	gap 8
	length total-proportion=1.0
	position "top"
	place-within-column
    }
    shadow {
        on
        draw-behind-window false
        softness 2
        spread 2
        offset x=3 y=3
    }
    struts {
        left 3
        right 3
    }
}

prefer-no-csd
screenshot-path "~/pictures/screenshot %Y-%m-%d %H-%M-%S.png"
