// ##############
// #  DEFAULTS  #
// ##############

window-rule {
    open-maximized false
}

window-rule {
    match is-focused=false
    opacity 0.94
}

window-rule {
    match is-focused=true
    opacity 1.0
}

// #############
// # OVERRIDES #
// #############

// Always opaque.
window-rule {
    match app-id=r#"org.quickshell$"#
    match title="[Yy]ou[Tt]ube"
    match title="[Nn]et[Ff]lix"
    match title="[Rr]une[Ll]ite"
    match title="[Bb]olt [Ll]auncher"
    match title="[Pp]roton [Aa]uthenticator"
    exclude title="YouTube Music"
    opacity 1.0
}

// Always floating.
window-rule {
    match app-id="zenity"
    match app-id=r#"org.quickshell$"#
    match title="[Rr]une[Ll]ite"
    match title="[Bb]olt [Ll]auncher"
    match title="[Pp]roton [Aa]uthenticator"
    match title="[Pp]icture[- ][Ii]n[- ][Pp]icture"
    open-floating true
    min-width 240
    min-height 180
}

// Steam and games - float and keep opaque.
window-rule {
    match app-id="steam"
    match app-id=r#"^steam_app_"#
    opacity 1.0
}

// Wine apps - always floating, opaque.
window-rule {
    match app-id=r#"\.exe$"#
    open-floating true
    opacity 1.0
}

