window-rule {
    open-maximized false
}

window-rule {
    match is-focused=false
    opacity 0.86
}

window-rule {
    match is-focused=true
    opacity 0.95
}

window-rule {
    match title="Chromium"
    match is-focused=true
    opacity 1.0
}

window-rule {
    match title="Chromium"
    match is-focused=false
    opacity 0.97
}

window-rule {
    match title="youtube"
    match title="netflix"
    opacity 1.0
}

window-rule {
    match title="^launcher$"
    open-floating true
    open-focused true
}

window-rule {
    match title="RuneLite"
    match title="Bolt Launcher"
    match title="Proton Authenticator"
    open-floating true
    default-column-width {}
    default-window-height {}
}

window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}
